
# may contain OAuth secrets, do not commit
.sitecore/user.json

# NuGet cache for Sitecore CLI
.sitecore/package-cache/

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

scjssconfig.json
scjssconfig.bak

*.pfx
*.publishsettings
node_modules/
*.log
npm-debug.log*
dist
*.eslintcache

lerna-debug.log
.nyc_output
coverage/
/badges
src/*/*.tgz
samples/

.idea
.next

types/
.vs/